@model Task1.Models.Validation.Account.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />
    <p>@Html.ValidationSummary("")</p>

    <p>@Html.LabelFor(m => m.Email)</p>
    <p>@Html.TextBoxFor(m => m.Email)</p>

    <p> @Html.LabelFor(m => m.Password)</p>
    <p> @Html.PasswordFor(m => m.Password)</p>

    <p>@Html.LabelFor(m => m.ConfirmPassword)</p>
    <p>@Html.PasswordFor(m => m.ConfirmPassword)</p>

    <p>  <input type="submit" value="Регистрация" /></p>

}