<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Layout/css")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body id="top">
    <header class="page-header">
        <h3>Sites kill your time      <img src="~/Content/icon.png" alt="icon"></h3>
    </header>
    <div class="main inline">
        <div class="content">@RenderBody()</div>
        <div class="right-block">
            <ul>
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li>@Html.ActionLink("Анкета", "Index", "Worksheet")</li>
                <li>@Html.ActionLink("Добавить издание", "Index", "AddArticle")</li>
            </ul>


            @if (ViewData["Questionnaire"] != null)
            {
                <form class="Questionnaire" method="post">
                    @{Blogs.Model.Interview.Interview interview = (Blogs.Model.Interview.Interview)ViewData["Questionnaire"];}
                    <p>@interview.Title</p>
                    <table>
                        @foreach (var item in interview.Options)
                        {
                            <tr>
                                <td><input type="radio" name="option" value="@item.Id"> @item.Text</td>
                            </tr>
                        }
                    </table>
                    <p><input type="submit" name="submit" value="select"></p>
                </form>
                        }
            @if (ViewData["Statistics"] != null)
            {
                <div class="Statistics">
                    @{Task1.Models.Validation.Interview.Interview interview = (Task1.Models.Validation.Interview.Interview)ViewData["Statistics"];}
                    <p>@interview.Title</p>
                    <table>
                        @foreach (var item in interview.Options)
                        {
                            <tr>
                                <td>@item.Text @item.Percent%<progress value=@item.Percent.ToString() max="100"></progress></td>
                            </tr>
                        }
                    </table>
                </div>
                        }


        </div>
    </div>

    <footer>
        <h5>
            &copyCopy-right <a onclick="fun()" id="iakor">top</a>
        </h5>
    </footer>
</body>
</html>
